<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Players</h1>
    <div class="players">
        <% players.forEach(player => { %>
            <div class="player">
                <h3><%= player.name %></h3>
                <p>Position: <%= player.position %></p>
                <p>Nationality: <%= player.nationality %></p>
                <p>Team: <%= player.team.name %></p>
            </div>
        <% }); %>
    </div>
</body>
</html>
