<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= title %></h1>
    <div>
        <% if (teams && teams.length > 0) { %>
            <% teams.forEach(team => { %>
                <div class="team">
                    <h3><%= team.name %></h3>
                    <p>Short Name: <%= team.short_name %></p>
                    <p>Founded Year: <%= team.founded %></p>
                    <p>Website: <a href="<%= team.website %>"><%= team.website %></a></p>
                    <p>Club Colors: <%= team.club_colors %></p>
                    <% if (user) { %> <!-- Use the user variable passed from the server -->
                        <form action="/favourites" method="post">
                            <input type="hidden" name="teamId" value="<%= team.id %>">
                            <button type="submit">Add to Favorites</button>
                          </form>
                          
                    <% } %>
                </div>
            <% }); %>
        <% } else { %>
            <p>No teams found.</p>
        <% } %>
    </div>
</body>
</html>
